
<div class="wrapper fadeInDown">
  <div id="formContent" class=" p-5">

   
    <!-- Login Form -->
    <form action="/login" method="POST" id="login">
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email..." required>
      <input type="password" id="pass" class="fadeIn third" name="password" placeholder="Password...">
      <input type="submit" class="fadeIn fourth" value="Log In">
      <p>{{errorMsg}}</p>
      {{#if loginErr}}
     <p style="color: red;">Invalid username or password</p>
    {{/if}}
    </form>

  </div>
</div>